{% extends "base.html" %}

{% block page_content %}
<nav class="py-4 navbar navbar-expand-lg navbar-dark bg-dark text-white mb-3">
    <div class="container">
      <a class="navbar-brand fw-bolder px-2 mb-2" href="{% url 'home' %}">Home</a>
      <!--toggler-->
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav ms-auto me-3 me-lg-5rem">
            <li class="nav-item dropdown">
                <a class="btn btn-primary dropdown-toggle text-white btn-xlg" 
                    id="navbarDropdown" 
                    href="#" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i> {{user.username}}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'watchlist' %}">Watchlist</a></li>
                    <li><a class="dropdown-item" href="{% url 'saved' %}">Saved</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
        
        {% else %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item text-uppercase px-2">
                <a class="btn btn-primary mb-3" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item text-uppercase px-2">
                <a class="btn btn-primary" href="{% url 'login' %}">Register</a>
            </li>
        </ul>
        {% endif %}
      </div>
    </div>
</nav>
{% block content %}{% endblock%}
<!-- Footer-->
<footer class="bg-dark py-4 text-white">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <p class="text-center">Vika Putri Ariyanti @ 2022</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}